<div class="wrapper">
  <h1 class="mb-4 d-flex align-items-center justify-content-center">Cart</h1>
</div>
<div class="container-fluid mt-4">
  <div class="row g-0">
    <div class="col-md-8">
      @if(cartItems.length === 0){
      <h1 class="d-flex align-items-center justify-content-center">
        Your cart is empty.
      </h1>
      } @for(product of cartItems; track product.id){

      <div class="row g-0 align-items-center">
        <!-- Product Image -->
        <div class="col-md-2">
          <img
            [src]="product.thumbnail || product.images[0]"
            alt="{{ product.title }}"
            class="img-fluid rounded-start"
          />
        </div>
        <!-- Product Details -->
        <div class="col-md-5">
          <div class="card-body">
            <h6 class="card-title">{{ product.title }}</h6>

            @if(product!.discountPercentage){
            <span class="text-success">
              ${{ product!.price | discount : product!.discountPercentage }} |
              <span class="text-muted text-decoration-line-through"
                >${{ product!.price }}</span
              >
            </span>

            <p class="m-0">
              <span class="text-muted">Discount: </span>
              <span class="text-danger"
                >{{ product!.discountPercentage }}%</span
              >
            </p>
            }@else {
            <span class="text-success">${{ product!.price }}</span>
            }
          </div>
        </div>
        <!-- Quantity and Remove -->

        <div class="col-md-3">
          <div class="mb-2 d-flex align-items-center justify-content-center">
            <button
              class="btn btn-outline-dark btn-sm"
              (click)="decreaseQuantity(product.id)"
            >
              -
            </button>
            <input
              type="text"
              class="form-control text-center mx-2"
              [value]="product!.quantity"
              style="width: 60px"
              readonly
            />
            <button
              class="btn btn-outline-dark btn-sm"
              (click)="increaseQuantity(product.id)"
            >
              +
            </button>
          </div>
        </div>
        <div class="col-md-2">
          <div
            class="card-body mb-2 d-flex align-items-center justify-content-center"
          >
            <button
              class="btn btn-dark px-2 py-0 me-2"
              (click)="productDetails(product.id)"
            >
              Details
            </button>

            <i
              class="fa-solid fa-trash fa-xl"
              style="color: #d50b1f"
              (click)="removeProduct(product.id)"
            ></i>
          </div>
        </div>
      </div>
      <hr class="m-0 me-2" />

      }
    </div>
    <div class="col-md-4">
      <div class="card p-3 shadow-sm">
        <h5 class="fw-bold">Summary</h5>

        <!-- Promo Code -->
        <div class="mb-3">
          <label for="promoCode" class="form-label"
            >Do you have a promo code?</label
          >
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              id="promoCode"
              placeholder="Enter code"
            />

            <button class="btn btn-dark">Apply</button>
          </div>
        </div>

        <hr />

        <!-- Price Details -->
        <p class="d-flex justify-content-between">
          <span>Subtotal:</span>

          <span>{{ totalPrice }}</span>
        </p>
        <p class="d-flex justify-content-between">
          <span>Shipping:</span>
          <span>{{ shipping }}$</span>
        </p>
        <p class="d-flex justify-content-between">
          <span>Sales Tax:</span>
          <span>{{ tax }}$</span>
        </p>

        <hr />

        <h5 class="d-flex justify-content-between fw-bold">
          <span>Total:</span>
          ${{ finalPrice }}
          <span></span>
        </h5>

        <!-- Checkout Button -->
        <button
          class="btn btn-danger w-100 mt-3"
          [disabled]="cartItems.length === 0"
        >
          Checkout
        </button>
      </div>
    </div>
  </div>
</div>
