<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand mx-5">Navbar</a>
    <form class="d-flex mx-5">
      <a class="m-2 text-dark" type="submit">Register</a>
      <a class="m-2 text-dark" type="submit">Login</a>
      <a
        href="#"
        class="m-2 position-relative"
        data-toggle="modal"
        data-target="#cartModal"
      >
        <i class="fas fa-shopping-cart fa-xl text-info"></i>
        <span class="position-absolute">0</span>
      </a>
    </form>
  </div>
</nav>
